<nav id="main-options">
    <button type="button" class="btn-settings" data-type="dropdown" data-target="#settings-dropdown">
        <img src="images/settings.svg" alt="settings">
    </button>
    <div id="settings-dropdown" class="dropdown hide">
        <div class="current-account"><img src="images/user-template.svg">John Doe</div>
        <button class="btn-logout" type="button">
            <img src="images/logout.svg"><p>Log out</p>
        </button>
    </div>
    <hr class="vertical-divider">
    <button type="button" class="btn-account" data-type="dropdown">
        <img src="images/user-template.svg" alt="avatar">
        </i>
    </button>
</nav>