@model ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
}

<div id="projects" class="page">
    <div class="projects-header">
        <h2>Projects</h2>
        <button class="btn add-project-btn" data-type="modal" data-target="#add-project-modal">
            <i class="bi bi-plus"></i>Add Project
        </button>
    </div>

    <nav class="project-tabs">
        <button class="tab active" data-target="#all">ALL</button>
        <button class="tab" data-target="#started">STARTED</button>
        <button class="tab" data-target="#completed">COMPLETED</button>
    </nav>

    <section id="all" class="projects-grid">
        @if (Model.Projects !=null && Model.Projects.Any())
        {
            @foreach(var project in Model.Projects){
                @await Html.PartialAsync("ListItems/_ProjectCardPartial", project)
            }
        }
    </section>

    <section id="started" class="projects-grid hidden">
    </section>

    <section id="completed" class="projects-grid hidden">
    </section>
</div>

@await Html.PartialAsync("Modals/_AddProjectModalPartial", Model.AddProjectFormData)
@await Html.PartialAsync("Modals/_EditProjectModalPartial", Model.EditProjectFormData)