<div id="settings-dropdown" class="dropdown">
    <div class="current-account"><img src="images/user-template.svg">John Doe</div>

    <a href="#" class="btn-logout">
        <img src="images/logout.svg"><p>Log out</p>
    </a>
</div>