<header id="main-options">
    <button type="button" class="btn-settings" data-type="dropdown" data-target="#settings-dropdown">
        <img src="images/settings.svg" alt="settings">
    </button>
    @await Html.PartialAsync("Dropdowns/_SettingsDropdownPartial")
    <hr class="vertical-divider">
    <button type="button" class="btn-account">
        <img src="images/user-template.svg" alt="avatar">
    </button>
</header>