<aside id="sidebar">
    <div class="alpha-logo">
        <a href="@Url.Content("~/")">
            <img src="images/alpha-logo.svg">
            <span>alpha</span>
        </a>
    </div>

    <button class="project-btn">
        <a href="#"><img src="images/briefcase.svg" alt="">Projects</a>
    </button>
</aside>